################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OutLierBookStore/OutLierBookStore/wwwroot
