@model OutlierBookStorePhase2.Models.ChangePassword

@{
    ViewData["Title"] = "ChangePassword";
}



<div class="container" style="margin:auto">
    <h4>ChangePassword</h4>
    <hr />
    @if(ViewBag.IsSuccess == true)
     {
        <div class="alert alert-success">
            Password has been updated successfully
        </div>
     }


    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div><br />

                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
                <br />
            </form>
        </div>
    </div>


</div>

