@model Book

<div class="container">
    <h3 class="display-4">Add new book</h3>

    @if(ViewBag.IsSuccess == true){
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
         <strong>Congratulations !</strong> Your book has been added to Oulier. 
         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        Click <a asp-controller="Book" asp-action="GetBook" asp-route-id="@ViewBag.Id">here</a> to view the details.
    </div>
    }


<form method="post" asp-action="AddNewBook">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Author"></label>
        <input asp-for="Author" class="form-control" />
        <span asp-validation-for="Author" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="LangaugeId"></label>
        <select asp-for="LangaugeId" class="form-control" asp-items="ViewBag.Language">
            <option value="">Please select your language</option>
            

        </select>
        <span asp-validation-for="LangaugeId" class="text-danger"></span>
    </div><br />

    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div><br />
    <div class="form-group">
        <label asp-for="TotalPages"></label>
        <input asp-for="TotalPages" class="form-control"/>
        <span asp-validation-for="TotalPages" class="text-danger"></span>
    </div><br />
    <br />
    <div class="form-group">
        <input type="submit" value="Add Book" class="btn btn-danger" />
    </div>

</form>
</div>